body, html {
  display: flex;
  height: 100%;
  margin: 0;
}

.bg-img1, .bg-img2 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img1 {
  background-image: url("assets/background_1.jpg");
  min-height: 200px;
}

.bg-img2 {
  background-image: url("assets/background_2.jpg");
  min-height: 200px;
}

.content{
  position: relative;
  left: 0;
  width: 100%;
  color: #000;
}

